root = true

[{.tmux.conf,.Rprofile,.nvimrc,.config/nvim/init.vim,.config/fish/config.fish}]
charset = utf8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true
indent_size = 4
