[user]
    name = Michel Lang
    email = michellang@gmail.com
[github]
    user = mllg
[push]
    default = simple
[rebase]
    stat = true
[alias]
    undo-commit = reset --soft HEAD^
[color]
    branch = auto
    diff = no
    interactive = auto
    status = auto
    ui = auto
    interactive = auto
[core]
    autocrlf = input
    ignorecase = false
	pager = "nvim -c PAGER -"
[clean]
    requireForce = false
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d '$LOCAL' '$REMOTE'"
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[mergetool "vimdiff"]
    cmd = "nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'"
