[user]
    name = Michel Lang
    email = michellang@gmail.com
[github]
    user = mllg
[push]
    default = simple
[rebase]
    stat = true
[alias]
    undo-commit = reset --soft HEAD^
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
    autocrlf = input
    ignorecase = false
[clean]
    requireForce = false
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[mergetool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
